.login_form_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.login_form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login_form input {
    width: 65%;
}