.promo_section {
    height: 40em;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__wrapper {
    height:30em;
    width:50em;
    position: relative;
}

.banner__wrapper img {
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: right;
}

.banner__text_wrapper {
    position: absolute;
    top: 28%;
    left: 45%;
    right: 4%;
}

.banner__text_wrapper h1 {
    font-family: var(--first-font);
    /*font-size: var(--big-font-size);*/
    font-size: 2em;
    color: var(--orange-color);
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.banner__text_wrapper p {
    font-family: var(--second-font);
    font-size: 1em;
    color: var(--grey-color);
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
}

.banner__text_wrapper button {
    border: none;
    border-radius: 2em;
    background-color: #FF6363;
    font-family: var(--second-font);
    font-size: 1em;
    color: #FFFFFF;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-inline: 2.5em;
}