header {
    font-size:1em;
    height: 6em;
}

.nav {
    height: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.nav__logo {
    height: 100%;
    width: 20%;
    display: inline-flex;
    align-items: center;
    gap: 0.9em;
}

.nav__logo img {
    height: 100%;
    padding-bottom: 0.1em;
}

.nav__logo h1 {
    font-family: var(--first-font);
    font-size: var(--big-font-size);
    color: var(--orange-color);
}

.nav__menu {
    height: 100%;
}

.nav__menu_list {
    height: 100%;
    display: inline-flex;
    align-items: center;
    gap: 2em;
    font-family: var(--second-font);
    font-size: var(--normal-font-size);
    color: var(--grey-color);
}

.nav__menu_list a {
    color: currentColor;
}

.nav__cart {
    height: 100%;
    width: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--grey-color);
}

.nav__cart a {
    color: currentColor;
}