@font-face {
    font-family: 'Coiny';
    font-style: normal;
    src: local('Coiny'), url(./fonts/Coiny.otf) format('opentype');
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    src: local('Comfortaa'), url(./fonts/Comfortaa-Regular.ttf) format('truetype');
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --header-height: 3.5rem;
    --header-el-width: 20%;

    --first-font: "Coiny", sans-serif;
    --first-font-size: 0.8rem;
    --first-color: #FFAB76;

    --second-font: "Comfortaa", sans-serif;
    --second-font-size: 1rem;
    --second-color: #575454;

    --z-tooltip: 10;
    --z-fixed: 100;
}

[badge]:after {
    width: 15px;
    height: 15px;
    font-family: var(--second-font);
    background: var(--first-color);
    border-radius: 20px;
    color: var(--second-color);
    content: attr(badge);
    font-size: 13px;
    margin-top: -10px;
    min-width: 20px;
    padding: 2px;
    position: absolute;
    text-align: center;
}

[badge^="-"]:after,
[badge="0"]:after,
[badge=""]:after {
    display: none;
}

body {

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

