.table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
}

.cell {
    /*width: 100px;*/
    height: 55px;
    border: 1px solid lightgray;
    text-align: center;
}